**The Percentage Calculator**

Write a Python program that takes marks as input for six subjects, maximum marks being 600, prints total marks, average marks, and percentage obtained by a student.

In [ ]:
#Percentage calculator
print("Enter the marks of all six subjects, one by one -")

Subject_1 = float (input ("Enter the marks out of 100 obtained in subject-1: "))
Subject_2 = float (input ("Enter the marks obtained out of 100 in subject-2: "))
Subject_3 = float (input ("Enter the marks obtained out of 100  in subject-3: "))
Subject_4 = float (input ("Enter the marks obtained out of 100 in subject-4: "))
Subject_5 = float (input ("Enter the marks obtained in out of 100  subject-5: "))
Subject_6 = float (input ("Enter the marks obtained in out of 100 subject-6: "))
total, average, percentage = None, None, None

#This will calculate the Total, Average and Percentage
total = Subject_1 + Subject_2 + Subject_3 + Subject_4 + Subject_5 + Subject_6
average = total / 6
percentage = (total / 600) * 100

print("Total marks obtained :", total)
print("Average marks obtained:", average)
print("Percentage obtained: ", percentage)

Enter the marks of all six subjects, one by one -
Enter the marks out of 100 obtained in subject-1: 78
Enter the marks obtained out of 100 in subject-2: 67
Enter the marks obtained out of 100  in subject-3: 56
Enter the marks obtained out of 100 in subject-4: 82
Enter the marks obtained in out of 100  subject-5: 65
Enter the marks obtained in out of 100 subject-6: 74
Total marks obtained : 422.0
Average marks obtained: 70.33333333333333
Percentage obtained:  70.33333333333334

** The Score Card**

Declare a nested list with Exam scores and Students' names as shown here - "score=[[10, 'John'],[20, 'Lucy']..]" .Write a Python program to sort the list based on scores, and print the students' names with first and second-highest scores.

In [ ]:
#Score card
score=[[10, 'John'],[20, 'Lucy'],[4, 'Amit'],[5, 'Abhishek'],[4, 'Sumit'],[6, 'Amogh'],[46, 'Shweta'],[43, 'Ali'],[4, 'Jibran'],[64, 'Jay'],[65, 'Harshit'],[8, 'Ayushi'],[45, 'Akshay'],[55, 'Sachin'],[558, 'Vishal'],[15, 'Ashish'],[5, 'Vimal'],[4, 'Megha'],[6, 'Sunny'],[5, 'Ravi'],[255, 'Vinay'],[5, 'Yash']]
score.sort()
score.reverse()
max_score=(score[0][1])
sec_max=(score[1][1])
print(score)
print("Student with highest marks  is:", max_score)
print("And the student with second highest marks is:",sec_max)

[[558, 'Vishal'], [255, 'Vinay'], [65, 'Harshit'], [64, 'Jay'], [55, 'Sachin'], [46, 'Shweta'], [45, 'Akshay'], [43, 'Ali'], [20, 'Lucy'], [15, 'Ashish'], [10, 'John'], [8, 'Ayushi'], [6, 'Sunny'], [6, 'Amogh'], [5, 'Yash'], [5, 'Vimal'], [5, 'Ravi'], [5, 'Abhishek'], [4, 'Sumit'], [4, 'Megha'], [4, 'Jibran'], [4, 'Amit']]
Student with highest marks  is: Vishal
And the student with second highest marks is: Vinay