**Working with DataFrames - I**

Write a Python program that reads the "iris.csv" dataset (Available on LMS) into a DataFrame, filters the rows on the condition that “sepal length” should be more than or equal to 6cm. Write the filtered rows in a new DataFrame, and save the new DataFrame as a CSV file.

**Step-1:** Loading a CSV dataset in a DataFrame and filtering the data based on condition -"sepal length" >=6 cm.

In [1]:
import pandas as pd
 
# reading csv file
df1 = pd.read_csv("Iris.csv")
print("Original DataFrame is:")
display(df1)

df2 = df1.loc[df1['SepalLengthCm'] >= 6]
print("Flowers with morethan 6 cm sepal length are:")
display(df2)

Original DataFrame is:

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

Flowers with morethan 6 cm sepal length are:

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
56,57,6.3,3.3,4.7,1.6,Iris-versicolor
...,...,...,...,...,...,...
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica

**Step-2:** Saving the DataFrame as a CSV file in local file system.

In [2]:
df2.to_csv('iris2.csv')